/* Global Styles */

*{
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0px;
  background-color: black;
}

/* Background Image */

.background-image {
  position: fixed;
  inset: 0;
  background-image: url("images/Bookshelf.png");
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(0px);
  z-index: -1;
}

/* Add Book Button and Form */

.add-container {
  position: absolute;
  top: 31px;
  left: 25px;
  z-index: 10;
  width: 125px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.add-book-button {
  height: 38px;
  width: 120px;
  padding: 0;
  border: none;
  border-radius: 20px;
  background-color: white;
  font-family: baskerville, sans-serif;
  font-size: 15px;
  transition: .5s;
}

.form-add {
  position: absolute;
  top: -200px;
  right: 0;
  left: 0;
  z-index: 1;
  height: 100px;
  padding-left: 200px;
  border-bottom: 1px white solid;
  background-color: transparent;
  color: white;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
  transition: 1s;
}

.form-add.show {
  top: 0px;
}

.form-div {
  display: flex;
  flex-flow: column nowrap;
  color: white;
}

.form-div label {
  align-self: center;
  margin-bottom: 10px;
  font-family: baskerville, sans-serif;
  font-size: 17px;
}

input[type="text"],
input[type="number"],
select {
  height: 22px;
  width: 200px; 
  border-radius: 3px;
  border: none;
  text-align: center;
  font-family: baskerville, sans-serif;
}

select {
  padding-left: 15px;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.submit-book {
  height: 30px;
  width: 100px;
  border: none;
  border-radius: 15px;
  background-color: white;
  font-family: baskerville, sans-serif;
}

/* Main */

.container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100vh;
  padding-top: 0px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  color: white;
  overflow: hidden;
  transition: 1s;
}

.container.show {
  padding-top: 100px;
}

/* Card */

.card {
  position: relative;
  margin: 0px 30px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card-image {
  height: 450px;
  width: 300px;
  transition: 1s;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.read-button {
  position: absolute;
  left: 15px;
  top: -24px; 
  z-index: 1;
  width: 34px;
  height: 42px;
  padding: 0;
  border: none;
  background: none;
  color: #caf0f8;
  overflow: hidden;
  transition: .5s;
  opacity: 0;
}

.read-button:hover {
  color: #63d2ff;
}

.read-button.active{
  opacity: 1;
}

.read-button.hasRead{
  color: white;
  top: 0px;
  opacity: 1;
}

.bookmark {
  position: absolute;
  top: -5px;
  left: -8px;
}

.card-info {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.card-info h2 {
  margin-bottom: 0;
  font-style: bold;
}

.card-info-list {
  display: flex;
  flex-flow: row nowrap;
  padding: 0;
  margin: 10px 0px;
  list-style: none;
}

.card-info-list > li:not(:last-child)::after {
  content: "|";
  margin: 0px .5rem;
}

.card-remove {
  z-index: 10;
  height: 20px;
  width: 70px;
  border: none;
  border-radius: 10px;
  display: block;
  color: white;
  font-family: baskerville, sans-serif;
  font-size: 15px;
  font-weight: bold;
  background-color: red;
  opacity: 0;
  transition: .5s;
  opacity: 0;
}

.card-remove:hover {
  cursor: pointer;
}

.card-remove.active {
  opacity: 1;
}

.nav-tool {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}